<head>
    <link href="~/css/Index.css" rel="stylesheet" />
</head>
<main>
    <section class="hero">
        <form class="searchForm">
            <h2>Need a Pawtner?</h2>
            <label>Type of Service</label>
            <div class="buttonContainer">
                <button type="button" class="btn">
                    <i class="fa-regular fa-sun"><p>Dagpassning</p></i>
                </button>
                <button type="button" class="btn">
                    <i class="fa-solid fa-clock-rotate-left"> <p>Dygnspassning</p></i>
                </button>
                <button type="button" class="btn">
                    <i class="fa-solid fa-dog"> <p>Rastning</p></i>
                </button>
            </div>
            <div class="inputContainer">
                <label>Postnummer</label>
                <input type="text" placeholder="Ange postnr" />
                <label>Hur ofta behöver du hjälp?</label>
                <div class="secondButtonContainer">
                    <button type="button" class="secondBtn">En gång</button>
                    <button type="button" class="secondBtn">Regelbundet</button>
                </div>
            </div>
            <div class="daySelection">
                <label>Vilka dagar?</label>
                <div class="day">
                    <input type="checkbox" class="checkbox" />
                    <label>Mån</label>
                </div>
                <div class="day">
                    <input type="checkbox" class="checkbox" />
                    <label>Tis</label>
                </div>
                <div class="day">
                    <input type="checkbox" class="checkbox" />
                    <label>Ons</label>
                </div>
                <div class="day">
                    <input type="checkbox" class="checkbox" />
                    <label>Tor</label>
                </div>
                <div class="day">
                    <input type="checkbox" class="checkbox" />
                    <label>Fre</label>
                </div>
                <div class="day">
                    <input type="checkbox" class="checkbox" />
                    <label>Lör</label>
                </div>
                <div class="day">
                    <input type="checkbox" class="checkbox" />
                    <label>Sön</label>
                </div>
            </div>
            <div class="dateContainer">
                <label class="start">Startdatum</label>
                <input class="start-date" type="date" />
                <label class="end">Slutdatum</label>
                <input class="end-date" type="date" />
                <a href="index.html" class="search-button">
                    <i class="fa-solid fa-magnifying-glass-arrow-right"
                       style="color: #e56700"></i>
                </a>
            </div>
        </form>
    </section>
    <!--Ägareinfo-->
    <div class="owner-info">
        <h4 class="title">För dig som har husdjur!</h4>
        <div class="info-box box-1">
            <div class="info-image image-1">
                <img src="img/dogAvatar.png" alt="Tecknad hund avatar" />
            </div>
            <div class="text-1">
                <h4>Personlig profil för ditt husdjur</h4>
                <p>
                    Skapa en detaljerad profil med information om ditt husdjurs behov,
                    vanor och hälsa, så att djurvakten alltid har full koll på hur
                    ditt djur ska tas om hand.
                </p>
            </div>
        </div>
        <div class="info-box box-2">
            <div class="info-image image-2">
                <img src="img/presentation.png"
                     alt="Tecknad kvinna håller i katt" />
            </div>
            <div class="text-2">
                <h4>All information samlad</h4>
                <p>
                    Skapa en personlig profil för ditt husdjur med viktiga detaljer
                    och journalanteckningar, vilket gör att djurvakten alltid har full
                    koll på ditt husdjurs behov.
                </p>
            </div>
        </div>
        <div class="info-box box-3">
            <div class="info-image image-3">
                <img src="img/dachshund.png" alt="Tecknad tax" />
            </div>
            <div class="text-3">
                <h4>Trygg och pålitlig vård</h4>
                <p>
                    Hitta certifierade och betrodda djurvakter snabbt, med detaljerade
                    profiler och omdömen för att säkerställa att din bästa vän är i
                    goda händer.
                </p>
            </div>
        </div>
    </div>
    <div>
        <h4 class="title-sitter">För dig som är husdjursvakt</h4>
    </div>
    <div class="info-sitter">
        <div class="info-image">
            <img class="petsitter"
                 src="img/petsitter.png"
                 alt="Petsitter Avatar" />
        </div>
        <div class="info-content">
            <ul class="feature-list">
                <li>
                    <h4>Bygg ditt nätverk</h4>
                    <p>
                        Få tillgång till en stor gemenskap av djurägare och bygg en
                        stabil kundkrets genom att erbjuda dina tjänster som pålitlig
                        djurpassare.
                    </p>
                </li>
                <li>
                    <h4>Flexibla jobbmöjligheter</h4>
                    <p>
                        Arbeta på dina egna villkor och välj de uppdrag som passar ditt
                        schema och din erfarenhet bäst.
                    </p>
                </li>
                <li>
                    <h4>Enkel och säker kommunikation</h4>
                    <p>
                        Använd den inbyggda chattfunktionen för att hålla kontakt med
                        djurägare och få uppdateringar om djurets behov direkt via
                        hemsidan.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</main>

